@{
	ViewData["Title"] = "Home";

	var welcomeMessage = User.Identity.IsAuthenticated ? $"Bienvenido {User.FindFirst("FullName")?.Value}" : "Bienvenido!";
}

<div class="text-center">
	<h1>@welcomeMessage</h1>
	<p>Simplifica la gestión de tu inmobiliaria con nuestra solución!</p>
</div>


@if (!User.Identity.IsAuthenticated)
{
	await Html.RenderPartialAsync("_Login", new LoginView());
}