@{
	ViewData["Title"] = "Home";

	var welcomeMessage = User.Identity.IsAuthenticated ? $"Bienvenido {User.FindFirst("FullName")?.Value}" : "Bienvenido!";

	@* Por ser admin, tenes beneficios como efectos especiales 😍 *@
	if (User.IsInRole("Administrador"))
	{
		welcomeMessage = $"{welcomeMessage}✨";
	}
}

<div class="text-center">
	<h1 class="display-4">@welcomeMessage</h1>
	<p>Simplifica la gestión de tu inmobiliaria con nuestra solución!</p>
</div>

@if (!User.Identity.IsAuthenticated)
{
	await Html.RenderPartialAsync("_Login", new LoginView());
}